<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Cheteen Home Page</title>
</head>
<body>
    <h2>Cheteen Home Page - NEW</h2>
    <hr>
    <p>
        Welcome to the Cheteen Company Home Page !
    </p>

    <hr>
        User: <span sec:authentication="principal.username"/>
        <br><br>
        Role(s): <span sec:authentication="principal.authorities" />
    <hr>

    <div sec:authorize="hasRole('MANAGER')">
        <p>
            <a th:href="@{/leaders}">Leadership Meeting</a>
            (Only for Manager peeps)
        </p>
    </div>

    <div sec:authorize="hasRole('ADMIN')">
        <p>
            <a th:href="@{/systems}">IT Systems Meeting</a>
            (Only for Admins peeps)
        </p>
    </div>

    <form action="#" th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout">
    </form>

</body>
</html>